@include full-height-page-background;

/*body {
  padding: $md_padding;
  display: flex;
  flex-direction: column;
}*/



.page__container {
  @include even-shadow;
  padding: $md_padding;
  background-color: $secondary_blue;
  height: 100%;
  flex: 1;

  .error {
    text-align: center;
    color: red;
  }

  .table__container {
    margin: $md_margin-vertical $lg_margin;
  }
}
